/* .header {
  font-size: 30px;
  color: blue;
  background-color: lightgray;
  margin-top: 0px;
  padding: 10px;
  border-bottom: 5px solid black;
} */
.myheader {
  border-bottom: 5px solid black;
}
.myP {
  text-align: justify;
}
.myImg {
  width: 300px;
  height: auto;
  border: 1px solid black;
  box-shadow: 3px 3px #000000a3;
}
@media screen and (max-width: 749px) {
  .myImg {
    width: 100%;
    margin-top: 8px;
    box-shadow: 0 0 white;
  }
}
